##################
# PERSONAL STUFF #
##################
.env
allowlist.edn

###########
# CLOJURE #
###########
/target
/classes
/checkouts
profiles.clj
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port
/.prepl-port
.hgignore
.hg/
